<!DOCTYPE html>
<html lang='ja'>
  <head>
    <title><%= content_for(:title) || "GqlChat" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text x='50%' y='50%' style='dominant-baseline:central;text-anchor:middle;font-size:90px;'>💬</text></svg>">

    <%= javascript_include_tag "application", type: "module" %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body class="container mx-auto flex flex-col items-center font-sans">
    <header class="py-4">
      <h1 class="text-3xl">GQL Chat</h1>
    </header>
    <main class="w-full">
      <%= yield %>
    </main>
  </body>
</html>
